* {
  margin:0;
  padding:0;
}

#day {
  width:100%;
  height:670px;
  background-image:url(day.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}
#night {
  width:100%;
  height:800px;
  background-image:url(night.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}